.button{
    background-color: greenyellow;
    font-size: 20 px;
    padding: 15px 15px;
    font-family: 'Lucida Sans';
}

.buttonDiv{
    text-align: center;
}

.reset{
    background-color: red;
    font-size: 20 px;
    padding: 15px 15px;
    font-family: 'Lucida Sans';
}

